/* A COMPLETER */

.detournee{
    text-decoration: underline;
}

.contandante{
    font-weight: bold;
}

h1, h2, h3{
    color:red;
}
aside h2{
    color: black;
}

aside li>ul{
    list-style-type: none;
}

#armes li{
    color: green;
}

#annexes li li{
    color: blue;
}

article img{
    height: 1em;
}

aside img{
    width: 20vw;
}

#annexes ul{
    list-style-type: none;
}

#armes ul{
    list-style-type: disc;
}

#armes li>ul{
    list-style-type: circle;
}